.social-links{
    display: flex;
    align-items: center;
    &--footer{
        margin-bottom: 60px;
    }
    &__item{
        display: inline-block;

        &:not(:last-child){
            margin-right: 10px;
        }
    }
    &__network{
        border-radius: 50%;
        width: 44px;
        height: 44px;
        

        display: flex;
        justify-content: center;
        align-items: center;

        &--footer{
            background-color: $footer-icon-background;
            fill: $primary-white-color;
        }
        &__icon{
            color: currentColor;
        }

    }
    
}
