.social-links{
    display: flex;
    align-items: center;
    &--team {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    &--footer{
        margin-bottom: 60px;
    }
    &__item{
        display: inline-block;

        &:not(:last-child){
            margin-right: 10px;
        }
    }
    &__network{
        border-radius: 50%;
        width: 44px;
        height: 44px;
        

        display: flex;
        justify-content: center;
        align-items: center;
        &--team{
            fill: $primary-icon-color;
        }
        &:hover, 
        &:focus{
            background-color: $primary-accent-color;
        }
        &--team:hover,
        &--team:focus{
            fill: $primary-white-color;
        }
        &--footer{
            background-color: $footer-icon-background;
            fill: $primary-white-color;
        }


    }
    &__icon{
        color: currentColor;
    }
}
