header{
    position: relative;
    padding: 16px 0;
    border-bottom: 1px solid $header-botom-line;
    @include device(minTablet){
        padding: 21px 0;
    }
    @include device(desktop) {
        padding: 25px 0;
    }
}
.header__container{

    
    display: flex;
    justify-content: space-between;
}
