.menu{

    width: 100%;
    background-color: $primary-white-color;

    position: absolute;
    top: -16px;
    left: 0;
    pointer-events: none;
    display: none;
    padding: 48px 40px; 
        @include device(minTablet) {
            position: static;
            display: flex;
            align-items: center;
            padding: 0;
            pointer-events: all;
        }
    &__open-button{

        background-color: $primary-white-color;
        border: none;
        @include device(minTablet) {
            display: none;
        }
    }
    &__close-button{
        position: absolute;
        top: 21px;
        right: 25px;

        background-color: $primary-white-color;
        border: none;
        @include device(minTablet){
            display: none;
        }
    }    
}
.menu.is-open {
    display: block;
    z-index: 1;
    pointer-events: all;
}