.clients-section{
    padding: 60px 0 65px 0;
    &__heading{
        @extend %section-heading;
        margin-bottom: 36px;
    }
     @include device(desktop) {
        padding: 90px 0;
    }
}
.clients-list{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    width: 100%;
    &__items {
            width: calc(50% - 15px);
    
            @include device(minTablet) {
                width: calc((100% - 60px)/3);
            }
    
            @include device(desktop) {
                width: calc((100% - 150px)/6);
            }
    
        }
    &__client-link{

        height: 92px;
        border: 1px solid $primary-icon-color;
        border-radius: 4px;
        
        fill: $primary-icon-color;
        display: flex;
        align-items: center;
        justify-content: center;

        transition: border-color 250ms $cubic, fill 250ms $cubic;

        &:hover, &:focus{
            border-color: $primary-accent-color;
            fill: $primary-accent-color;
        }
        &__icon{
            color: currentColor;
        }
    }
}