.hero-section{
    padding: 118px 0;
    background-color: $hero-background-color;
    @include device(desktop) {
        padding: 200px 0;
    }
    
    &__heading{
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 30px;
        font-size: 26px;
        line-height: 1.62;

        color: $primary-white-color;
    }
    &__button{
        display: block;
        padding: 10px 24px;
        margin-right: auto;
        margin-left: auto;
        transition: background-color 250ms $cubic;
        &:focus,&:hover{
            background-color: $button-hover-color;
        }
    }
}
